/*Fuentes*/
@font-face {
    font-family: "Sackers Gothic Regular";
    src: url("/fonts/sackers-gothic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Zen Kaku Medium";
    font-weight: medium;
    font-style: normal;
    src: local('Zen Kaku Medium'),
        url('/fonts/ZenKakuGothicNew-Regular.woff2') format('woff2'),
        url('/fonts/ZenKakuGothicNew-Regular.woff') format('woff'),
        url('/fonts/ZenKakuGothicNew-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Zen Kaku Light";
    font-weight: lighter;
    font-style: normal;
    src: local('Zen Kaku Light'),
        url('/fonts/ZenKakuGothicNew-Light.woff2') format('woff2'),
        url('/fonts/ZenKakuGothicNew-Light.woff') format('woff'),
        url('/fonts/ZenKakuGothicNew-Light.ttf') format('truetype');
}

@font-face {
    font-family: "Zen Kaku Bold";
    font-weight: bold;
    font-style: normal;
    src: local('Zen Kaku Bold'),
        url('/fonts/ZenKakuGothicNew-Bold.woff2') format('woff2'),
        url('/fonts/ZenKakuGothicNew-Bold.woff') format('woff'),
        url('/fonts/ZenKakuGothicNew-Bold.ttf') format('truetype');
}

/*Estilos generales*/
.bg-green{
    background-color: #1E4748;
}

.bg-darkgreen{
    background-color: #193C3D;
}

.bg-beige{
    background-color:#FBFFF1;
}

.container-darkbeige{
    background-color: #E8E7D5;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.bg-darkbeige{
    background-color:#E8E7D5;
}

.btn-yellow {
    color: #1E4748;
    background-color: #ECD259;
    border-color: #ECD259;
    border-radius: 10px;
}

.btn-yellow:hover {
    color: #1E4748;
    background-color: #dabf4a;
    border-color: #dabf4a;
    transition: 0.2s ease-in-out;
}

.green-text{
    color:#1E4748;
}

.beige-text{
    color: #aea06c !important;
}

.fw-light-zen{
    font-family:"Zen Kaku Light";
}

.fw-normal-zen{
    font-family:"Zen Kaku Medium";
}

.fw-bold-zen{
    font-family:"Zen Kaku Bold";
}

.fw-normal-sackers{
    font-family: "Sackers Gothic Regular";
}

.shadow-7 {
    box-shadow: 0 4px 5px -2px #0003,0 7px 10px 1px #00000024,0 2px 16px 1px #0000001f;
}

.mt-6{
    margin-top: 5rem !important;
}

.mb-6{
    margin-bottom: 5rem !important;
}

.my-6{
    margin-top: 5rem !important;
    margin-bottom: 5rem !important;
}

#main-content{
    margin-top: 5.5rem;
}

.landing-container{
    position: relative;
    width: 100%;
    height:92vh;
}

.landing-container .landing-img{
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 1;
}

.landing-container .title{
    position: absolute;
    width: 100%;
    top: 40%;
    color: white;
    font-size: 54px;
    z-index: 10;
}

.gradient-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(34, 52, 50, 0.1), rgba(34, 52, 50, 0.5), rgba(34, 52, 50, 0.65));
    z-index: 5;
}

.rounded-img{
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    border-bottom-left-radius: 18px;
}

.tall-img{
    height: 60vh;
    object-fit: cover;
}

.btn-arrow{
    border-radius: 50%;
    box-shadow: 0 4px 5px -2px #0003,0 7px 10px 1px #00000024,0 2px 16px 1px #0000001f;
    color: #193C3D;
    background-color: #fff;
    width: 50px;
    height: 50px;
    z-index: 10;
}

.btn-arrow:hover{
    color: #1E4748;
    background-color: #e9ecef;
    transition: 0.2s ease-in-out;
}

.btn-arrow i{
    font-size: 24px;
    line-height: 1.6;
}

/*Animacion del boton arrow-down*/
#section03 a {
    padding-top: 60px;
    z-index: 10;
  }
  #section03 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 46px;
    height: 46px;
    margin-left: -23px;
    border: 2px solid #fff;
    border-radius: 100%;
    box-sizing: border-box;
  }
  #section03 a span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left:2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
  }
  #section03 a span::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: '';
    width: 44px;
    height: 44px;
    box-shadow: 0 0 0 0 rgba(255,255,255,.1);
    border-radius: 100%;
    opacity: 0;
    -webkit-animation: sdb03 3s infinite;
    animation: sdb03 3s infinite;
    box-sizing: border-box;
  }
  @-webkit-keyframes sdb03 {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    60% {
      box-shadow: 0 0 0 60px rgba(255,255,255,.1);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes sdb03 {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    60% {
      box-shadow: 0 0 0 60px rgba(255,255,255,.1);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }


/*navbar*/
.logo-yellow{
    width: 200px;
}

.link-light{
    color:#f8f9fa !important;
}

.search-form{
    display: block;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.ui-widget-header {
    background: #1E4748 !important;
}

.ui-state-active{
    background: #193C3D !important;
    border: 1px solid #ccc !important;
    border-radius: 50% !important;
}

.ui-state-default{
    border: 1px solid #ccc !important;
    border-radius: 50% !important;
}

/*form de contacto*/
.form-contact{
    background-color: transparent;
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ECD259;
    color: white !important;
    display: block;
    width: 100%;
    font-family: "Zen Kaku Light";
    padding: 5px;
}

.form-contact::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }

/*front page*/

#video-container{
    position: relative;
    height: 95vh;
    width: 100%;
}
#video-home{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    object-fit: cover;
    z-index: 1;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:2;
    background-color: black;
    opacity: 0.3;
}

.overlay-green{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:2;
    background-image: linear-gradient(to bottom, transparent, transparent 80%, #193C3D 95%);
}

#landing{
    position: absolute;
    top: 35%;
    width: 100%;
    z-index: 5;
}

.btn-amenities {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #193C3D;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1.5rem;
    margin-bottom: 2px;
}

.btn-amenities:focus{
    border-bottom: 2px solid #AEA06C;
    transition: 0.2s ease-in-out;
    margin-bottom: 0px;
}

.carousel-gallery-img{
    height: 60vh;
    object-fit: cover;
    width: 100%;
}

.carousel-tall-img{
    height: 50vh;
    object-fit: cover;
    width: 100%;
}

/*Inventory*/
.svg-container { 
    display: inline-block;
    position: relative;
    width: 100%;
    /* padding-bottom: 100%;  */
    vertical-align: middle; 
    overflow: hidden;
    z-index: 1;
}

.svg-container svg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.svg-container svg a{
    position: absolute;
    z-index: 10;
}

.svg-container .building{
    fill: rgba(30, 71, 72, 0.5);
    stroke: #193C3D;
    stroke-width: 5px;
    transition: 0.2s;
}

.svg-container .building:hover{
    fill: rgba(236, 210, 89, 0.6);
    stroke: #ECD259;
    transition: 0.3s;
}

.svg-container .unit-polygon{
    fill: rgba(30, 71, 72, 0.7);
    stroke: #193C3D;
    stroke-width: 5px;
    transition: 0.2s;
}

.btn-more-towers{
    position: absolute; 
    left:10px; 
    top:30px;
}

.svg-container .building-Disponible{
    fill: rgba(30, 71, 72, 0.5);
    stroke: #193C3D;
    stroke-width: 5px;
    transition: 0.2s;
}

.svg-container .building-Disponible:hover{
    fill: rgba(30, 71, 72, 0.9);
    transition: 0.3s;
}

.svg-container .building-Apartada{
    fill: #CEB54A;
    fill-opacity: 0.5;
    stroke: #CEB54A;
    stroke-width: 5px;
    transition: 0.2s;
}

/* .svg-container .building-Apartada:hover{
    fill-opacity: 0.9;
    transition: 0.3s;
} */

.svg-container .building-Vendida{
    fill: #631E1E;
    fill-opacity: 0.5;
    stroke: #631E1E;
    stroke-width: 5px;
    transition: 0.2s;
}

/* .svg-container .building-Vendida:hover{
    fill-opacity: 0.9;
    transition: 0.3s;
} */

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #193C3D !important;
    background-color: transparent !important;
    border-bottom: 2px solid #AEA06C;
}

.nav-pills .nav-link {
    color: #193C3D !important;
    border-radius: 0 !important;
}

/*About us*/
.container-darkgreen{
    background-color: #1E4748;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.post-number{
    border: 2px solid #193C3D;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 0;
    left: -38px;
}

/*Lifestyle*/

.info-life{
    position: absolute;
    width: 90%;
    left: 5%;
    top: 75%;
    z-index: 10;
    color: #fff;
}

.info-life hr{
    opacity: 1;
    color: #fff;
    height: 2px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.btn-youtube{
    position: absolute;
    top: 38%;
    left: 0;
    width: 100%;
}

/*Search page*/
.search-img{
    height: 40vh;
    object-fit: contain;
}

.pagination{
    margin-bottom: 0;
    padding-bottom: 4rem;
    justify-content: center!important;
}

.page-link {
    color: #193C3D;
    background-color: #E8E7D5;
    border: 1px solid #aea06c;
}

.page-link:hover {
    color: #fff;
    background-color: #1E4748;
    border: 1px solid #1E4748;
}

.page-item.active .page-link {
    background-color: #193C3D;
    border-color: #193C3D;
}

.page-item.disabled .page-link {
    color: #1E4748;
    background-color: #fff;
    border-color: #aea06c;
}
/*Whatsapp button*/
#whatsapp-floating{
    position: fixed;
    z-index: 100;
    bottom: 24px;
    right: 24px;
    width: 60px;
    height: 60px;
    background-color: #193C3D;
    border-radius: 50%;
    color: #fff;
    font-size: 40px;
}

/*Progress*/

.progress-img{
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

@media (max-width: 767px) {
    /*estilos generales movil*/
    #main-content{
        margin-top: 4rem;
    }

    .tall-img{
        height: 40vh;
    }
    .mt-6{
        margin-top: 4rem !important;
    }
    
    .mb-6{
        margin-bottom: 4rem !important;
    }
    
    .my-6{
        margin-top: 4rem !important;
        margin-bottom: 4rem !important;
    }

    /*navbar movil*/
    .logo-yellow{
        width: 115px;
    }

    /*home page mobile*/

    #landing{
        top: 10%;
    }

    .carousel-tall-img{
        height: 25vh;
    }

    .carousel-gallery-img{
        height: 30vh;
    }

    /*Inventory mobile*/
    .btn-more-towers{
        position: absolute; 
        left:5px; 
        top:5px;
    }

    /*Progress mobile*/
    .post-number{
        height: 36px;
        width: 36px;
        left: -30px;
    }

    /*Lifestyle movile*/
    .btn-youtube{
        top: 15%;
    }
}

    

@media (min-width: 768px) and (max-width: 992px) {
    /*estilos generales ipad*/
    #main-content{
        margin-top: 4.5rem;
    }
    .tall-img{
        height: 45vh;
    }

    /*navbar ipad*/
    .logo-yellow{
        width: 150px;
    }

    /*home page ipad*/
    .carousel-tall-img{
        height: 30vh;
    }
    
    .carousel-gallery-img{
        height: 40vh;
    }
}