/*Estilos generales*/
html, body{
    font-family: 'Helvetica', sans-serif !important;
}

.row{
    margin: 0;
    width: 100%;
}

.shadow-7 {
    box-shadow: 0 4px 5px -2px #0003,0 7px 10px 1px #00000024,0 2px 16px 1px #0000001f;
}
.shadow-8 {
    box-shadow: 0 5px 5px -3px #0003,0 8px 10px 1px #00000024,0 3px 14px 2px #0000001f;
}

.btn-green{
    background-color: #1E4748;
    border-color: #1E4748;
    color: white !important;
    font-weight: bold;
}

.bg-green{
    background-color:#275F60;
    color: #ffffff;
}

.bg-darkgreen{
    background-color: #1E4748;
}

.secondary-text{
    color:#6c757d !important;
}

input{
    accent-color: #1E4748 ;
}

label{
    color: gray;
    font-size: 0.8rem;
    padding-left: 0.3rem;
    font-weight: lighter;
}

tr:hover{
    background-color: #d1e7dd;
    transition: 0.2s;
}

/*admin sidebar*/
#sidebar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    min-height: 100vh;
    width: 300px;
}

#sidebar .nav-item:hover{
    background-color: #1E4748;
    transition: 0.2s;
    animation: ease-in-out;
}

.c-main{
    margin-left: 300px;
    min-height: 100vh;
    width: 100% !important;
}


/*admin footer*/
footer{
    position: relative;
    z-index: 1;
    border-top: 1px solid rgb(194, 195, 197);
    height: 46px;
}

/*Dashboard*/
#dashboard .card strong{
    font-size: 3rem;
}

#dashboard .card a{
    position: absolute;
    bottom: 0 !important;
    width: 100%;
}

#dashboard .card{
    height: 220px;
}

.units .card{
    height: 150px !important;
}

.bg-blue{
    background-color: #25607D ;
    color: #ffffff;
}

.bg-darkblue{
    background-color: #1D4D64;
}

#prog-thumbnail{
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}
/*admin Units*/
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #0d6efd;
    box-shadow: 0 5px 5px -3px #0003,0 8px 10px 1px #00000024,0 3px 14px 2px #0000001f;
}
.nav-pills .link-success.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #198754;
    box-shadow: 0 5px 5px -3px #0003,0 8px 10px 1px #00000024,0 3px 14px 2px #0000001f;
}

.nav-pills .link-danger.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #dc3545;
    box-shadow: 0 5px 5px -3px #0003,0 8px 10px 1px #00000024,0 3px 14px 2px #0000001f;
}

.nav-pills .link-warning.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #ffc107;
    box-shadow: 0 5px 5px -3px #0003,0 8px 10px 1px #00000024,0 3px 14px 2px #0000001f;
}

/*Admin progress*/
.chrome input {
    background: linear-gradient(to right, #e9ecef 0%, #e9ecef 50%, #e9ecef 50%, #e9ecef 100%);
    border: solid 1px #dee2e6;
    border-radius: 8px;
    height: 10px;
    width: 100%;
    outline: none; 
    transition: 450ms ease-in;
    -webkit-appearance: none;
}

.form-check-input:checked {
    background-color: #1E4748;
    border-color: #1E4748;
}


@media (max-width: 767px) {
    /*admin sidebar*/
    #sidebarMobile{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        min-height: 100vh;
        width: 3rem;
    }

    #sidebarMobile .nav-item:hover{
        background-color: #1E4748;
        transition: 0.2s;
        animation: ease-in-out;
    }

    #sidebarMobile i{
        font-size: 1.5rem;
        color: #ECD259;
    }

    .c-main{
        margin-left: 3rem;
    }

    .nav-link{
        padding: 0.7rem 0.5rem;
    }
}

@media(min-width: 768px) and (max-width: 992px){

    /*admin sidebar*/
    #sidebarMobile{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        min-height: 100vh;
        width: 4.5rem;
    }

    #sidebarMobile .nav-item:hover{
        background-color: #1E4748;
        transition: 0.2s;
        animation: ease-in-out;
    }

    #sidebarMobile i{
        font-size: 2rem;
        color: #ECD259;
    }

    .c-main{
        margin-left: 4.5rem;
    }

    .nav-link{
        padding: 1.1rem 1rem;
    }

}